@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>



<div class="row">
	<div class="col-12">
		<p>You can use this site to browse our attorneys.</p>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<AuthorizeView>
					<NotAuthorized>
						<span>You are not logged in. Please <a class="fm-bolder" href="/login">click here</a> to login.</span>
					</NotAuthorized>
					<Authorized>
						<span>Logged in as <b>@context.User.Identity.Name</b>. <a class="fm-bolder" href="/logout">Click here</a> to logout.</span>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>
